{# Affichage de la page d'un article #}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ include('bloc/header.twig') }}
</head>
<body>
    {{ include ('bloc/menu.twig') }}
    {{ include ('bloc/page_header.twig') }}
    {{ include ('bloc/page_article.twig') }}
    {{ include ('bloc/comment.twig') }}
    {{ include ('bloc/footer.twig') }}
    {{ include ('bloc/script.twig') }}
</body>
</html>