{# Affichage de la page BLOG #}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ include('bloc/header.twig') }}
  </head>
  <body>
    {{ include ('bloc/menu.twig') }}
    {{ include ('bloc/page_header.twig') }}
    {{ include ('bloc/articles_list.twig') }}
    {{ include ('bloc/footer.twig') }}
    {{ include ('bloc/script.twig') }}
  </body>
</html>
