{# Affichage de la page ACCOUNT #}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ include('bloc/header_login_register.twig') }}
</head>

<body>
    {{ include ('bloc/menu_login_register.twig') }}
    <div class="container" id="login-register">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="index.php?page=login"  id="login-form-link-2">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="index.php?page=register" class="active" id="register-form-link-2">Register</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                {{ include ('bloc/register_log.twig') }}
                                {{ include ('bloc/login_reg.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
                <a href="index.php?page=home" class="btn btn-secondary btn-sm">Return</a>
            </div>
        </div>
    </div>
    {{ include ('bloc/script_login_register.twig') }}
</body>
</html>



