{# Affichage de la liste des articles dans la page BLOG #}
{% for article in post %}
    <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-preview">
                <a href="index.php?page=article&amp;id_post={{ article.idPost }}">
                  <h2 class="post-title">
                    {{ article.title }}
                  </h2>
                  <h3 class="post-subtitle">
                      {{ article.introduction }}
                  </h3>
                </a>
                <p class="post-meta">Posted by
                  {{ users[article.idUser].pseudo }}
                  on {{ article.dateUpdate }}</p>
              </div>
              <hr>
             </div>
          </div>
    </div>
{% endfor %}
{# PAGINATION #}
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {% for i in 1..nombreDePagesPosts %}
            <li class="page-item"><a class="page-link" href="index.php?page=blog&amp;idPage={{ i }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
</nav>
