{% if name == "comments_list_dashboard" %}
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des commentaires</h6>
            </div>
            <div class="card-body">
                <div class="container">
                        {% if message == true %}
                            <div class="row">
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            </div>
                        {% endif %}
                        {% for comment in comment %}
                        <div class="row">
                            <div class="col-lg-8 col-md-10 mx-auto">
                                <a href="index.php?page=dashboard&amp;name=form_update_comment&amp;id={{ comment.idComment }}">
                                    <h3>
                                        {{ comment.comment }}
                                    </h3>
                                    <h6>
                                        Post: {{ post[comment.idPost].title }}
                                    </h6>
                                </a>
                                <p style="font-size: 12px">Ecrit par
                                    {{ users[comment.idUser].pseudo }}
                                    le {{ comment.dateComment }} <br/>
                                    Commentaire validé :
                                    {{ comment.validation }}</p>

                                {% if comment.validation == "non" %}
                                    <a href="index.php?page=validation_comment&amp;id={{ comment.idComment }}"><button type="button" class="btn btn-outline-success btn-sm"><i class="fas fa-check"></i> Valider le commentaire</button></a>
                                {% endif %}
                                <a href="index.php?page=dashboard&amp;name=form_update_comment&amp;id={{ comment.idComment }}"><button type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-edit"></i> Modifier</button></a>
                                <a href="index.php?page=delete_comment&amp;id={{ comment.idComment }}"><button type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i> Supprimer</button></a>
                                <hr>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {# PAGINATION #}
                    <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                            {% for i in 1..nombreDePagesCommentaires %}
                              <li class="page-item"><a class="page-link" href="index.php?page=dashboard&amp;name=comments_list_dashboard&amp;idPage={{ i }}">{{ i }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
            </div>
        </div>
    </div>
{% endif %}
