{% if name == "list_users" %}
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des utilisateurs</h6>
            </div>
            <div class="card-body">
                    <div class="container">
                        {% if message == true %}
                            <div class="row">
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            </div>
                        {% endif %}
                        {% for users in users %}
                        <div class="row">
                            <div class="col-lg-8 col-md-10 mx-auto">
                                    <h3 style="color: #2e59d9">
                                        {{ users.pseudo }}
                                    </h3>
                                <p style="font-size: 12px">
                                    Email : {{ users.email }} <br/> Rôle : {{ users.role }} <br/> Validation : {{ users.validation }}
                                </p>
                                {% if users.validation == "non" %}
                                    <a href="index.php?page=validation_user&amp;id={{ users.idUser }}"><button type="button" class="btn btn-outline-success btn-sm"><i class="fas fa-edit"></i> Valider l'utilisateur</button></a>
                                {% endif %}
                                <a href="index.php?page=delete_user&amp;id={{ users.idUser }}"><button type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i> Supprimer</button></a>
                                <hr>
                            </div>
                        </div>
                        {% endfor %}

                        {# PAGINATION #}
                        <nav aria-label="...">
                            <ul class="pagination justify-content-center">
                                {% for i in 1..nombreDePagesUsers %}
                                    <li class="page-item"><a class="page-link" href="index.php?page=dashboard&amp;name=list_users&amp;idPage={{ i }}">{{ i }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
            </div>
        </div>
    </div>
{% endif %}
