{# Affichage d'un article #}
{% if name == "comment" %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-10 mx-auto">
                        <div class="post-view">
                                <h2 class="page-title">
                                    {{ article.title }}
                                </h2>
                                  <div class="heading-line"></div>
                                <h3 class="page-subtitle">
                                    {{ article.introduction }}
                                </h3>
                                <p class="page-content">
                                    {{ article.content }}
                                </p>
                                <p class="post-meta">Posted by {{ users[article.idUser].pseudo }} on {{ article.dateUpdate }}</p>
                        </div>
                    </div>
                </div>
            </div>
{% endif %}


